{% extends 'shared/_MainLayout.html' %}
{% block title %}Twitter - Main Page{% endblock title %}
{% block content %}
<div class="">
  <ul class="collection" style="border: none">
    <h1>{{ name }}</h1>
  {% for tweet in tweet_list %}
      <li class="collection-item avatar">
      <span class="title"
        ><a href="#" class="right waves-effect waves-light btn-small">Follow</a
        ><a href="#"
          ><strong>{{ tweet.date }}</strong><br /><small>@{{ tweet.user }}</small></a
        ></span
      ><br /><br />
      <p>
        {{ tweet.text }}
      </p>
      <br />
      <br />
      <div style="clear: both"></div>
      <div style="clear: both"></div>
      <br />
      <div class="row">
        <div class="col s2">
          <a href="#"><i class="material-icons">chat_bubble_outline</i></a>
        </div>
        <div class="col s2">
          <a href="#"><i class="material-icons">repeat</i></a>
        </div>
        <div class="col s2">
          <a href="#"><i class="material-icons">star_border</i></a>
        </div>
        <div class="col s2">
          <a href="#"><i class="material-icons">mail_outline</i></a>
        </div>
      </div>
    </li>
  {% endfor %}

  </ul>
</div>
{% endblock content %}
