<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center"
        ><i class="material-icons">art_track</i></a
      >
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
          <a href="index.html" class="active"
            ><i class="material-icons left">home</i>Home</a
          >
        </li>
        <li>
          <a href="notifications.html"
            ><i class="material-icons left">notifications</i>Notifications</a
          >
        </li>
        <li>
          <a href="messages.html"
            ><i class="material-icons left">mail</i>Messages</a
          >
        </li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li>
          <a class="dropdown-trigger" href="#" data-target="dropdown1"
            ><i class="material-icons">person_pin</i></a
          >
          <ul id="dropdown1" class="dropdown-content" tabindex="0">
            <li class="padding-non-a" tabindex="0">
              AH.HANDOYO<br /><small>@HandExcel</small>
            </li>
            <li class="divider" tabindex="0"></li>
            <li tabindex="0">
              <a href="#!"><i class="material-icons left">person</i>Profile</a>
            </li>
            <li tabindex="0">
              <a href="#!"><i class="material-icons left">list</i>Lists</a>
            </li>
            <li tabindex="0">
              <a href="#!"><i class="material-icons left">memory</i>Moments</a>
            </li>
            <li class="divider" tabindex="0"></li>
            <li tabindex="0"><a href="#!">Settings and Privacy</a></li>
            <li tabindex="0"><a href="#!">Help Center</a></li>
            <li tabindex="0"><a href="#!">Keyboard Shortcuts</a></li>
            <li tabindex="0"><a href="log-in.html">Log Out</a></li>
            <li class="divider" tabindex="0"></li>
            <li tabindex="0">
              <a href="#!"
                >Night Mode <i class="material-icons right">brightness_3</i></a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="#modal1" class="modal-trigger"
            ><i class="material-icons">add_to_photos</i></a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
