<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center"
        ></a
      >
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ></a
      >
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
          <a href="index.html" class="active"
            >Home</a
          >
        </li>
        <li>
          <a href="notifications.html"
            >Notifications</a
          >
        </li>
        <li>
          <a href="messages.html"
            >Messages</a
          >
        </li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/account/signout/" class="dropdown-trigger" href="#" data-target="dropdown1"
            >logout</a
          >
          <ul id="dropdown1" class="dropdown-content" tabindex="0">
            <li class="padding-non-a" tabindex="0">
              AH.HANDOYO<br /><small>@HandExcel</small>
            </li>
            <li class="divider" tabindex="0"></li>
            <li tabindex="0">
              <a href="#!">Profile</a>
            </li>
            <li tabindex="0">
              <a href="#!">Lists</a>
            </li>
            <li tabindex="0">
              <a href="#!">Moments</a>
            </li>
            <li class="divider" tabindex="0"></li>
            <li tabindex="0"><a href="#!">Settings and Privacy</a></li>
            <li tabindex="0"><a href="#!">Help Center</a></li>
            <li tabindex="0"><a href="#!">Keyboard Shortcuts</a></li>
            <li tabindex="0"><a href="log-in.html">Log Out</a></li>
            <li class="divider" tabindex="0"></li>
            <li tabindex="0">
              <a href="#!"
                >Night Mode</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="/add-tweet/" class="modal-trigger">add tweet</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
