{% load static %}
<div class="col m3">
  <div class="card">
    <div class="card-content">
      <span class="card-title"
        >Who to follow <br /><small>
          <a href="#">Refreash</a> . <a href="#">View All</a></small
        ></span
      >
      <ul class="collection" style="border: none">
        <li class="collection-item avatar">
          <img src="images/fotoprofil.jpg" alt="" class="circle" />
          <span class="title"
            ><strong>Adobe XD</strong> <small>@AdobeXd</small></span
          ><br />
          <a href="#!" class="secondary-content"
            ><i class="tiny material-icons">close</i></a
          >
          <br />
          <a class="waves-effect waves-light btn-small btnfollow">Follow</a>
        </li>

        <li class="collection-item avatar">
          <img src="images/fotoprofil.jpg" alt="" class="circle" />
          <span class="title"
            ><strong>Thomas Alexander</strong> <small>@thomasAlex</small></span
          ><br />
          <a href="#!" class="secondary-content"
            ><i class="tiny material-icons">close</i></a
          >
          <br />
          <a class="waves-effect waves-light btn-small btnfollow">Follow</a>
        </li>

        <li class="collection-item avatar">
          <img src="images/fotoprofil.jpg" alt="" class="circle" />
          <span class="title"
            ><strong>Tari</strong> <small>@dnickentari</small></span
          ><br />
          <a href="#!" class="secondary-content"
            ><i class="tiny material-icons">close</i></a
          >
          <br />
          <a class="waves-effect waves-light btn-small btnfollow">Follow</a>
        </li>
      </ul>
    </div>
    <div class="card-action">
      <a href="#"
        ><i class="material-icons">people_outline</i>
        <small>Find people you know</small></a
      >
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <small class="linka"
        >© 2018 Hand Excel <a href="#">About</a> <a href="#">Help Center</a>
        <a href="#">Terms Privacy</a></small
      >
    </div>
  </div>
</div>
